<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.vilkinet.v2"
        versionCode = "10"
        version     = "1.1.0">

    <name>ВилкиНет</name>

    <description>
        Вилки Нет — сеть доставок блюд японской кухни во Владимире, Иваново, Костроме, Муроме, Оренбурге, Туле и  Тюмени
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/d1b86e37da6061ddb411da518adbc701.png" density="ldpi" />
        <icon src="res/android/icon/92be94d93017d071a1051109a7eb5e22.png" density="mdpi" />
        <icon src="res/android/icon/05cc149f7684d7395d963bae67ce6bb7.png" density="hdpi" />
        <icon src="res/android/icon/72dd2f2719471f57cef712fc9cb91248.png" density="xhdpi" />
        <icon src="res/android/icon/7d5598cff2df6659ba3985b8dff07df8.png" density="xxhdpi" />
        <icon src="res/android/icon/4e43f62f7b1b3ffa035d5f3370899a3f.png" density="xxxhdpi" />

        <splash src="res/android/screen/420bf51b75653d0dcdab6e4b6810415a.png" density="port-hdpi"/>
        <splash src="res/android/screen/6a10430f1c9420c067ac6c9abbd9f486.png" density="port-ldpi"/>
        <splash src="res/android/screen/d48e273613f39f1bbcf5d5d2a33ac790.png" density="port-mdpi"/>
        <splash src="res/android/screen/eb40bb96ba8cd5b34d8d92657174aaae.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/43a2bbe83c6ac5428799a2adea2f2551.png" width="180" height="180" />
        <icon src="res/ios/icon/0852434e7ad50bf75d89aa438375b8c1.png" width="60" height="60" />
        <icon src="res/ios/icon/e78faf061ad25d589fb2490fcd7c53d7.png" width="120" height="120" />
        <icon src="res/ios/icon/36760b27ee2f94b78b883dea75a9c987.png" width="76" height="76" />
        <icon src="res/ios/icon/93bca8948d48e857b5471b3cf04bc15d.png" width="152" height="152" />
        <icon src="res/ios/icon/4fa523f13bb08960fc68364736220323.png" width="57" height="57" />
        <icon src="res/ios/icon/b9902489e8bd7e58358be543877121e8.png" width="114" height="114" />
        <icon src="res/ios/icon/ce0f1c930689a49d21bb2367051c5812.png" width="72" height="72" />
        <icon src="res/ios/icon/68b240e51e3a9ab5bb96edde7d660922.png" width="144" height="144" />
        <icon src="res/ios/icon/2db4e3c606feda2e6319ffedd3b12486.png" width="167" height="167" />
        <icon src="res/ios/icon/4ffc0d5953ff08fb1bbb6471b80a5fce.png" width="29" height="29" />
        <icon src="res/ios/icon/4f5a01826585c94a92f9852ca164764d.png" width="58" height="58" />
        <icon src="res/ios/icon/56f5f68c23ae7db3310fe53ba4042423.png" width="87" height="87" />
        <icon src="res/ios/icon/6c74ce85641cec1671089a7c9123267e.png" width="167" height="167" />

        <splash src="res/ios/screen/06a2649a2d158e6fa9eb3d588a3ffc31.png" />
        <splash src="res/ios/screen/a50dd385f757072aec28d8eeb87a498f.png" />
        <splash src="res/ios/screen/f073493612b0b81dbfaacdf63a3d6bdd.png" />
        <splash src="res/ios/screen/ec3cee277c64a93d028252e7bf74aa64.png" />
        <splash src="res/ios/screen/c207c3382deebffbe320161644a57d0e.png" />
        <splash src="res/ios/screen/5563cb1ffedd722a97216c5b7492688d.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/40af28721dd12ef8b2b53f540cecd715.png" target="StoreLogo" />
        <icon src="res/windows/icon/761ef5ee1dd8dd6c88fae86169de8692.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/0ca074a32d79096943a8f515a489a833.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/346e63aa51c29eee1829b08b8953bb1e.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/9e49ff567f86bbbfdc55009711754284.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/b46eee73d7b4cf8d579fda15e1f5e223.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/554b7fc43b8fd0a71712726ca32bf439.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/917227452930e866b14ac5c25d9980ce.png" target="SplashScreen"/>
        <splash src="res/windows/screen/2d2469563ffa372484c0c52ed38ab152.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>